<!DOCTYPE html>
<html>
<head>

	<title>Li Chiu Yein | Software Engineer | https://www.linkedin.com/in/cyli/ </title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="resume.css" media="all" />
	
</head>
<body>

	<div id="doc2" class="yui-t7">
		<div id="inner">
		
			<div id="hd">
				<div class="yui-gc">
					<div class="yui-u first">
						<h1>Li Chiu Yein</h1>
						<h2>Software Engineer</h2>
					</div>

					<div class="yui-u">
						<div class="contact-info">
							<h3><a href="mailto:chiuyein@yahoo.com">chiuyein@yahoo.com</a></h3>
							<h3>(016) - 905-3161</h3>
						</div>
					</div>
				</div>
			</div>

			<div id="bd">
				<div id="yui-main">
					<div class="yui-b">
						<div class="yui-gf">

								<div class="yui-u first">
									<h2>Education</h2>
								</div>
								<div class="yui-u">
									<h2>General Assembly Malaysia – Kuala Lumpur</h2>
									<h3>–Software Engineering Immersive </h3>
									<h4>Oct 2020 – Jan 2021</h4>
								</div>
								<div class="yui-u">
									<h2>University of Wollongong – Subang Jaya</h2>
									<h3>–Bachelor Degree of Communication and Media Studies and Advertising </h3>
									<h4>July 2011 – July 2013</h4>
								</div>
							
						</div>

						<div class="yui-gf">
							<div class="yui-u first">
								<h2>Experience</h2>
							</div>

							<div class="yui-u">

								<div class="job">
									<h2>Minebize Group Sdn Bhd</h2>
									<h3>Sales Executive</h3>
									<h4>June 2019 – July 2020</h4>
									<ul>
										<li>– Actively meeting with customers from different industries to understand their business’ needs with the help of B2B online platforms.</li>
										<li>– Increase customer’s business exposure in 50% with B2B online platform using organic search (Search Engine Optimization).</li>
									</ul>
								</div>

								<div class="job">
									<h2>Sendi Mahir Sdn Bhd</h2>
									<h3>Marketing Executive</h3>
									<h4>Dec 2016 – June 2019</h4>
									<ul>
										<li>– Work with customers, technicians, and logistics to make sure the calibration deadline is fulfilled.</li>
										<li>– Company representative to meet with foreign customer and government departments to solve customer’s ISO needs</li>
										<li>– Actively seek solutions together with the technician to solve requests from customers.</li>
									</ul>
								</div>

								<div class="job last">
									<h2>Clue Solution Sdn Bhd</h2>
									<h3>Web Content Coordinator</h3>
									<h4>Oct 2013 – Jan 2016</h4>
									<ul>
										<li>– Amend and publish content daily including pictures, travel offers, press releases and news for Swiss Railway Federation.</li>
										<li>– Manage and lead the team to publish travel offers within targeted time.</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="yui-gf">
							<div class="yui-u first">
								<h2>Skills</h2>
							</div>
							<div class="yui-u">
								<ul class="talent">
									<li>HTML</li>
									<li>CSS</li>
									<li class="last">Javascript</li>
								</ul>

								<ul class="talent">
									<li>React</li>
									<li class="last">Node.js</li>
								</ul>

								<ul class="talent">
									<li>Git</li>
									<li>Github</li>
									<li class="last">Sql/PostgreSQL</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="ft">
				<p>Li Chiu Yein &mdash; <a href="mailto:chiuyein@yahoo.com">chiuyein@yahoo.com</a> &mdash; (016) - 905-3161</p>
			</div>
		
		</div>
	</div>
</body>
</html>

